.page-heading {
  text-align: center;
  padding: 1rem 0 0;

  h2 {
    font-size: 22px;
    line-height: 33px;
    color: #020202;
    font-weight: 500;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #8d92a3;
  }
}

.cart-container {
  padding: 1rem;

  .cart-heading {
    font-size: 14px;
    line-height: 21px;
    color: #020202;
    margin: 1rem 0;
  }

  .transaction-detail {
    p {
      display: flex;
      justify-content: space-between;

      span:nth-of-type(1) {
        font-size: 14px;
        line-height: 21px;
        color: #8d92a3;
      }

      span:nth-of-type(2) {
        font-size: 14px;
        line-height: 21px;
        color: #020202;
        max-width: 70%;
        text-align: right;
      }
    }

    h2 {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;

      span:nth-of-type(1) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #8d92a3;
      }

      span:nth-of-type(2) {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #1abc9c;
      }
    }
  }

  button {
    background: #ffc700;
    margin-top: 2rem;
  }
}
